/* About me section ----------------------------------------------*/

.profile-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.profile-text {
  display: flex;
  gap: 1rem;
}

/* Services and prices section ----------------------------------------------*/

 .services-prices-content {
  display: flex;
  
  gap: 3rem;
}

.allowed-pets-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  gap: 1rem;
}

.offered-services .activity-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.activity-dots {
  width: 5rem;
  flex-grow: 1;
  margin: 0 10px;
  border-bottom: 4px dotted #d6d6d6;
}

.activity-name {
  font-weight: bold;
}

/* Availability section -----------------------------------------------*/

.availability-content {
  display: flex;
  justify-content: space-between;
}

.availability-content > div:last-child {
  display: flex;
}

.availability-box {
  display: flex;
  padding: 1rem;
  background-color: white;
  width: fit-content;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1)
}

.availability-content .edit-btn {
margin-right: 1rem;
}
  

/*AboutMeModal style ------------------------- */

.edit-aboutme-wrapper textarea {
  width: 100%;
  height: 200px; 
  background-color: #EBEBEB;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #cacaca; /* text area inset shadow */
  padding: 1rem; /* placeholder text starts 1rem */
  resize: none;
  margin-top: 1rem;
  
}

/*ServicesModal style ------------------------- */

/* centers the form */
.edit-services-wrapper {
  width: 60%;
  margin: 0 auto; 
}

/* space between the icons*/
.animal-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

/* aligns icons with the text */
.animal-icons label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* styles checkboxes */
.animal-icons input[type="checkbox"],
.service-name input[type="checkbox"] {
  margin-right: 10px; 
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* styles headings */
.services-prices-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* places service and price on opposite edges */
.service-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 0.5rem;
}

/* centers checkboxes with text */
.service-name {
  display: flex;
  align-items: center; 
}

/* styles price input text */
.service-price {
  width: 18%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 30px;
  text-align: center;
}

/* styles price input boxes */
.service-row input[type="number"] {
  padding: 0.3rem;
  border: 1px solid #dcdcdc;
  border-radius: 30px;
  outline: none; 
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); 
  font-size: 1rem; 
  background-color: #EBEBEB;
}

/* style for disabled-service */
.service-name.disabled-service {
  color: #ccc;
}

/*Location style ------------------------- */

.map-content > div {
  display: flex;
  margin-bottom: 0.5rem;
}

.map-content > div > div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}